@import "./variables.css";
@import "./fonts.css";

body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
  margin: 0;
}

.app {
  font-family: "Lato", sans-serif;
}

.page {
  grid-column: 2 / 3;
  background-color: var(--gray-darkest);
  width: 1280px;
  height: 1945px;
  left: 0px;
  top: 32px;
  overflow: auto;
  color: white;
}

.logo {
  width: 117.33px;
  height: 32;
  position: absolute;
  left: 16%;
  right: 25.33%;
  top: 4.44%;
  bottom: 91.11%;
}

#navBar {
  background-color: black;
  grid-column: 1 / 2;
  left: 0;
  top: 0;
  width: 200px;
  height: 720px;
  position: fixed;
}

#homeButton {
  background-color: transparent;
  width: Hug (84px);
  height: Hug (24px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  left: 16%;
  right: 42%;
  top: 12.22%;
  bottom: 84.44%;
}

#searchButton {
  background-color: transparent;
  width: Hug (84px);
  height: Hug (24px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  left: 16%;
  right: 40%;
  top: 17.78%;
  bottom: 78.89%;
}

.icon {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.vector {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 24px;
  height: 24px;
  top: 1.5px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 6.25%;
  bottom: 4.84%;
}

#musicPlayer {
  grid-column: 1 / 4;
  background-color: var(--gray-dark);
  width: 1280px;
  height: 96px;
  left: 0%;
  right: 0%;
  top: 624px;
  bottom: 0%;
  position: fixed;
}

.card {
  width: 224px;
  height: 259px;

  background: var(--gray-dark);
  border-radius: 8px;
}

#cardList {
  position: absolute;
  left: 232px;
  color: white;
}

.songTitle {
  position: absolute;
  left: 232px;
  color: white;
}

#card-container {
  left: 232px;
  display: grid;
  grid-gap: 16px;

  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
}

#artist-section {
  position: absolute;
  width: 944px;
  height: 579px;
  left: 232px;
  top: 32px;
}

#cardsDiv {
  position: absolute;
  width: 944px;
  height: 534px;
  left: 0px;
  top: 45px;
}

.card img {
  width: 192px;
  height: 192px;
  border-radius: 8px;
}

.cardTitle {
  width: 192px;
  height: 19px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.banner {
  background: var(--gray-dark);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 32px;
  gap: 32px;
  isolation: isolate;

  position: absolute;
  width: 1016px;
  height: 304px;
  left: 200px;
  top: 0px;
}

.banner img {
  width: 240px;
  height: 240px;
}

.table {
  position: absolute;
  width: 1016px;
  height: 125px;
  left: 232px;
  top: 352px;
}

.tableHeader {
  position: absolute;
  width: 1016px;
  height: 26px;
  left: 232px;
  top: 16px;
}

#tableHash {
  position: absolute;
  width: 9px;
  height: 17px;
  left: 16px;
  top: 16px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #a3a3a3;
}

.tableRow {
  size: 14px;
  font-weight: 400;

  padding: 3px 0px;
  gap: 8px;

  width: 1016px;
  height: 35px;
  left: 232px;
}
