@import "./variables.css";
@import "./fonts.css";

body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
  margin: 0;
}

.App {
  font-family: "Lato", sans-serif;
}

#HomePage {
  grid-column: 2 / 3;
  background-color: var(--gray-darkest);
  width: 1280px;
  height: 1945px;
  left: 0px;
  top: 32px;
  overflow: auto;
  color: white;
}

.logo {
  width: 117.33px;
  height: 32;
  position: absolute;
  left: 16%;
  right: 25.33%;
  top: 4.44%;
  bottom: 91.11%;
}

#NavBar {
  background-color: black;
  grid-column: 1 / 2;
  left: 0;
  top: 0;
  width: 200px;
  height: 720px;
  position: fixed;
}

#HomeButton {
  background-color: transparent;
  width: Hug (84px);
  height: Hug (24px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  left: 16%;
  right: 42%;
  top: 12.22%;
  bottom: 84.44%;
}

#SearchButton {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  left: 16%;
  right: 40%;
  top: 17.78%;
  bottom: 78.89%;
}

.Icon {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: aliceblue;
}

.Vector {
  width: 24px;
  height: 21.34px;
  top: 1.5px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 6.25%;
  bottom: 4.84%;
}

#MusicPlayer {
  grid-column: 1 / 4;
  background-color: var(--gray-dark);
  width: 1280px;
  height: 96px;
  left: 0%;
  right: 0%;
  top: 624px;
  bottom: 0%;
  position: fixed;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;

  position: absolute;
  width: 224px;
  height: 259px;
  left: 232px;
  top: 77px;

  background: var(--gray-dark);
  border-radius: 8px;
}

#cardList {
    position: absolute;
    left: 232px;
    color: white;
}

.SongTitle {
    position: absolute;
    left: 232px;
    color: white;
}

